html, body {
    height: 100%;
            -webkit-tap-highlight-color: transparent;
            user-select: none;
            overscroll-behavior: none;
            margin: 0;
            padding: 0;
}

body {
    display: flex;
    align-items: center;
    background-image: url('img/bgnew.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh; /* Set the height to 100% of the viewport height */
    margin: 0; /* Remove default body margin */
}

.player {
    width: 20%; /* Adjust the percentage as needed */
    height: 30%;
    background-image: url('img/frame_00_delay-0.04s.png');
    background-repeat: no-repeat;
    background-size: 100% 100%; /* Adjusted to always fit its size */
    position: absolute;
    left: 11%; /* Adjust the left property to position the player as needed */
    transform: translateX(-50%);
    z-index: 2;
}

.circle {
    width: 5%;
    height: 5%;
    background: url('img/Fire1.png'); /* Image background */
    background-size: cover; /* Cover the entire circle */
    border-radius: 50%;
    position: absolute;
    transition: transform 0.5s ease-in-out;
    display: none;
}

.chasing-shape {
     width: 15%; /* Adjust the percentage as needed */
    height: 20%;
    background-image: url('img/gray__0012_run_1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%; /* Adjusted to always fit its size */
    position: absolute;
    left: 10%; /* Adjust the left property to position the player as needed */
    transform: translateX(-50%);
    z-index: 2;
}
.hp-bar-container {
    position: fixed;
    top: 15%;
    width: 20%;
    height: 20%;
    background-image: url('img/HP0.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    overflow: hidden;
}





.hp-bar {
    height: 100%;
    width: 100%;
    transition: width 0.3s ease;
  
}

#score-container {
  position: absolute;
  top: 10px; /* Adjust the top position as needed */
  left: 10px; /* Adjust the left position as needed */
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: white;
}
.game-over {
  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-image: url('https://raw.githubusercontent.com/Ben00000000/Robot/main/Message.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 50%; /* Adjust the width as a percentage of the parent container */
    height: 50%; /* Adjust the height as a percentage of the parent container */
    color: #fff;
    padding: 2%;
    border-radius: 10px;
    z-index: 99999;
    display: flex;
    display: none;
}

.game-over h1 {
    font-size: 1.5em;
    margin-bottom: 2%;
}



.game-over button {
    background-image: url('https://raw.githubusercontent.com/Ben00000000/Robot/main/Restart%20Button.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 30%; /* Adjust the width as a percentage of the parent container */
    height: 15%; /* Adjust the height as a percentage of the parent container */
    padding: 1% 2%;
    font-size: 1em;
    cursor: pointer;
    position: absolute;
    bottom: 18%; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    border: none;
    background-color: transparent;
}
